<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>React Router Page Transition</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <% if (environment !== 'development' && environment !== 'local') { %>
  <link type="text/css" rel="stylesheet" media="all" href="app.<%= version %>.css" />
  <% } %>
</head>

<body class="hold-transition fixed skin-blue sidebar-mini">

  <div id="app"></div>

  <script src="app.<%= version %>.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>
